@page "/client-login"

<PageTitle>Login</PageTitle>

<h3>Bienvenido, ingrese su cedula y espere a ser atendido.</h3>

<InputText @bind-Value="Cedula"/>

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>

<p>Cédula ingresada: @Cedula</p>

@code {
	private string Cedula { get; set; }
	
	void ButtonClicked()
	{
		// Handle the Click event of RadzenButton
	}
}
