@page "/client-login"
@using MySolution.Services;
@inject OfficeService OfficeService
@inject ILogger<ClientLogin> Logger

@code {
	private string Cedula { get; set; }

	int selectedOfficeId;

	protected override void OnInitialized()
	{
		selectedOfficeId = OfficeService.SelectedOffice;
	}

}

<PageTitle>Login</PageTitle>

<RadzenCard class="p-4 rz-color-on-info rz-text-align-center w-25">
	<RadzenStack Orientation="@Orientation.Vertical" Gap="32px" JustifyContent="@JustifyContent.Center" AlignItems="@AlignItems.Center">
		<OfficeIndicator/>
		<RadzenText
			class="fw-bold fs-5"
		>
			Bienvenido, ingrese su cédula y espere a ser atendido.
		</RadzenText>

		<div class="d-flex flex-column align-items-end gap-2">
			<RadzenText>
				Ingrese su cedula de identidad (sin punto ni guiones)
			</RadzenText>
			<RadzenTextBox Placeholder="Ej: 12345678" Style="width: 100%" MaxLength="8" />
			<RadzenButton class="fw-bold bg-primary" Text="Enviar" />
		</div>

		<img width="250" src="/logo.png">
	</RadzenStack>
</RadzenCard>
