@using MySolution.Services;
@inject OfficeService OfficeService
@rendermode InteractiveServer

@page "/client-queue"

@code {
	bool wantToSelect = true;
	int selectedOfficeId;
}

<PageTitle>Client Queue</PageTitle>

<RadzenCard class="p-4 rz-color-on-info rz-text-align-center w-100">
	<RadzenStack Orientation="@Orientation.Vertical" Gap="16px" JustifyContent="@JustifyContent.Center" AlignItems="@AlignItems.Center">
	
		<div class="d-flex flex-row justify-content-center align-items-center gap-2">
			<RadzenText class="fw-bold fs-2">
				Visualización de turnos
			</RadzenText>
			<OfficePicker @bind-wantToSelect="wantToSelect" @bind-selectedOfficeId="selectedOfficeId" />
		</div>

		<RadzenCard class="bg-primary w-100 d-flex flex-row justify-content-center align-items-center gap-2 shadow-lg">
			<RadzenText class="fw-bold fs-2 text-white">
				Ticket
				<img width="48" src="./ico-ticket-white.svg">
			</RadzenText>
			<RadzenText class="fw-bold fs-1 text-white">
				125
			</RadzenText>
			<RadzenText class="fw-bold fs-2 text-white d-flex justify-content-center align-items-center">
				por favor dirigirse al puesto
				<img width="48" src="./ico-briefcase-white.svg">
			</RadzenText>
			<RadzenText class="fw-bold fs-1 text-white">
				4
			</RadzenText>
		</RadzenCard>

		<div class="p-2 border border-1 border-primary w-100 rounded-2 d-flex flex-column align-items-start gap-2 shadow-sm">
			<RadzenText class="fw-bold fs-1">
				A continuación
			</RadzenText>
			<NextInLine Content="126 - 5.623xxx-x" />
			<NextInLine Content="127 - 5.127xxx-x" />
			<NextInLine Content="128 - 4.912xxx-x" />
		</div>
		<div class="p-2 border border-1 border-primary w-100 rounded-2 d-flex flex-row gap-2">
			<div class="w-25 rounded-2 d-flex flex-column gap-2">
				<StatCard Subtitle="Espera promedio" Title="5m 43s" />
				<StatCard Subtitle="Ultimo movimiento" Title="2m 17s" />
				<StatCard Subtitle="Clientes en espera" Title="17" />
				<StatCard Subtitle="Puesto" Title="4" />
			</div>
			<div class="p-2 border border-1 border-primary w-75 rounded-2 d-flex flex-row flex-wrap gap-2 justify-content-start align-items-start">
				<TicketCard Ticket="123" Puesto="1" />
				<TicketCard Ticket="122" Puesto="2" />
				<TicketCard Ticket="121" Puesto="3" />
				<TicketCard Ticket="120" Puesto="4" />
				<TicketCard Ticket="119" Puesto="5" />
				<TicketCard Ticket="118" Puesto="6" />
				<TicketCard Ticket="117" Puesto="7" />
				<TicketCard Ticket="116" Puesto="8" />
				<TicketCard Ticket="115" Puesto="9" />
				<TicketCard Ticket="114" Puesto="10" />
				<TicketCard Ticket="113" Puesto="11" />
				<TicketCard Ticket="112" Puesto="12" />
			</div>
		</div>

	</RadzenStack>
</RadzenCard>
