@page "/"
@using MySolution.Services
@using MySolution.Models
@rendermode InteractiveServer
@inject OfficeService OfficeService

@code {

}

<PageTitle>Inicio</PageTitle>

<RadzenStack 
    class="p-2" 
    JustifyContent="@JustifyContent.Center" 
    AlignItems="@AlignItems.Center"
>
    <RadzenText class="fw-bold fs-1 text-primary">
        Bienvenido/a
    </RadzenText>
   
    <RadzenText class="fw-bold fs-4">
        Seleccione la pantalla que quiere utilizar
    </RadzenText>
    <div class="d-flex flex-column gap-2 justify-content-start align-items-center">
        
        <ScreenPickerCard 
            Title="[PARA CLIENTE] - Anunciarse y agregarse a la cola de espera"
            ImgPath="./screen-1.png" 
            RedirectPath="/client-login"
        />

        <ScreenPickerCard 
            Title="[PARA CLIENTE] - Estado de la cola de espera"
            ImgPath="./screen-2.png" 
            RedirectPath="/client-queue"
        />

        <ScreenPickerCard 
            Title="[PARA EMPLEADO] - Gestionar turnos de la cola de espera"
            ImgPath="./screen-3.png" 
            RedirectPath="/employee-queue"
        />

        <ScreenPickerCard 
            Title="[PARA EMPLEADO QA] - Ver analisis de datos"
            ImgPath="./screen-4.png"
            RedirectPath="/employee-analytics" 
        />
    </div>
</RadzenStack>

