<div class="p-2 border border-1 border-primary rounded-2 shadow-sm d-flex flex-row justify-content-center align-items-center">
	<img width="48" src="./ico-client-primary.svg">
	<RadzenText class="fw-bold fs-1">
		@Content
	</RadzenText>
</div>

@code {
	[Parameter]
	public string Content { get; set; }
}
