<div class="p-2 border border-1 border-primary w-100 rounded-2 shadow-sm">
	<RadzenText class="fw-bold fs-1">
		@Content
	</RadzenText>
</div>

@code {
	[Parameter]
	public string Content { get; set; }
}
