@using MySolution.Services
@inject OfficeService OfficeService

@code {
    int selectedOfficeId;
    String selectedOfficeName;

    protected override void OnInitialized()
    {   
        selectedOfficeId = OfficeService.SelectedOffice;
        selectedOfficeName = OfficeService.GetSelectedOfficeName();

    }
}

<div class="d-flex border border-primary rounded shadow-lg p-2 justify-content-center align-items-center gap-2">
   <img width="24" src="./ico-office.svg">
    <RadzenText class="fw-bold fs-6">
        @selectedOfficeName
    </RadzenText>
</div>
