<div class="p-1 border border-1 border-primary rounded-2 gap-1 shadow-sm">
    <div class="d-flex flex-column">
        <RadzenText class="fw-bold fs-5">
            Puesto
        </RadzenText>
        <RadzenText class="fw-bold fs-1 text-primary d-flex justify-content-center align-items-center">
            @Puesto
            <img width="48" src="./ico-briefcase-primary.svg">
        </RadzenText>
    </div>
    <div class="bg-primary border border-1"></div>
    <div class="d-flex flex-column">
        <RadzenText class="fw-bold fs-5">
            Ticket
        </RadzenText>
        <RadzenText class="fw-bold fs-1 text-primary d-flex justify-content-center align-items-center">
            @Ticket
            <img width="48" src="./ico-ticket-primary.svg">
        </RadzenText>
    </div>
</div>

@code {
    [Parameter]
    public string Ticket { get; set; }

    [Parameter]
    public string Puesto { get; set; }
}
